* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

body {
    background-image: url("img/a.jpg");
    background-size: cover;
}

main {
    display: flex;
    align-items: center;    
}

.start {
    height: 100vh;
    width: 70%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1em;
    align-items: center;
}

.start h2 {
    font-size: 2rem;
    letter-spacing: .1em;
    color: #293264;
    font-weight: 700;
}

.start h3 {
    color: #293264;
    font-weight: 400;
}

.start button {
    font-family: "Karla", sans-serif;
    padding: 1em;
    width: 80%;
    max-width: 200px;
    color: #F5F7FB;
    background-color: #4D5B9E;
    border: none;
    border-radius: 15px;
    font-size: 1rem; 
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    margin: 0 auto;
    width: 100%;
}

.question {
    border-bottom: 1px solid #DBDEF0;
    padding: 2em;
}

.question-title {
    font-size: 1rem;
    color: #293264;
    font-weight: 700;
    letter-spacing: .03em;
    width: 100%;
    max-width: 600px; 
}

.answers {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr ;
    text-align: center;
    align-items: center;
    max-width: 400px;
    margin: 1.5em auto 0 auto;
}

span {
    border: 2px solid #293264;
    padding: .4em;
    border-radius: 15px;
    margin: .5em;
    color: #293264;
}

span:hover {
    color: orange;
    border: 2px solid orange;
    background-color: #F5F7FB; 
}

.unchecked {
    color: #4D5B9E;
}

.checked {
    background-color: #D6DBF5;
    border: none;
}

.footer {
    display: flex;
    color: #4D5B9E;
    align-items: center;
    width: 70%;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
}

.footer p {
    font-weight: 800;
}

.footer-btn {
    font-family: "Karla", sans-serif;
    padding: 1em;
    width: 100%;
    max-width: 200px;
    color: #F5F7FB;
    background-color: #4D5B9E;
    border: none;
    border-radius: 15px;
    font-size: .9rem;
}

@media (min-width: 720px) {
    
    .start h2 {
        font-size: 2.6rem;
    }

    .start button {
        font-size: 1.2rem
    }
    
    .question-title { 
        font-size: 1.2rem;
    }
    
    .footer-btn {
        font-size: 1.2rem;
        margin-bottom: 1em;
    }
}

@media (min-width:1280px){
    .start h2 {
        font-size: 3.2rem;
    }
    
    .content {
        max-width: 80%;
    }
    
    .answers {
        margin-top: 1.2em;
        grid-template: 1fr / 1fr 1fr 1fr 1fr ;
        max-width: 600px;
    }
}
